<form class="form-inline task-adding-form" action="/tasks/create" method="post">
    <input type="hidden" name="filter" value="{{filter}}">
    <div class="input-group">
        <input type="task" class="form-control" id="task" name="title" placeholder="Enter new task here">
        <span class="input-group-btn"><button class="btn btn-default" type="submit">Add</button></span>
    </div>
</form>