<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'/>
    <script src="/js/jquery.slim.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    {{{body}}}
</div>
</body>
</html>
